/* @override 
	http://localhost:3000/stylesheets/screen.css?1293820812
	http://localhost:3000/stylesheets/screen.css?1293925285
	http://localhost:3000/stylesheets/screen.css?1293927626
	http://localhost:3000/stylesheets/screen.css?1293929394
	http://localhost:3000/stylesheets/screen.css?1300333750
*/

.container {
  width: 710px;
}

body {
  background: #d7a852;
}

header {
  padding-top: 20px;
}

section {
  margin-top: 1em;
  padding: 20px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
	font: 120% Georgia, "Times New Roman", Times, serif;
}

/* Sidebar */

div.sidebar {
  padding: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
	float: right;
	background-color: #d5d5d5;
}

div.sidebar ul {
	margin: 0;
	list-style-type: square;
}

/*div.sidebar a {
	font-weight: bold;
}*/

/* Headings */

h1 {
	color: #7b4211;
	font-family: "OFL Sorts Mill Goudy TT", Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}

/* Links */

a {
  color: #0e47a3;
  text-decoration: none;
}

a:hover {
  color: #0e47a3;
  text-decoration: underline;
}

a:visited {
  color: #0e47a3;
}

/* Navigation */

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  font-weight: bold;
	letter-spacing: 1px;
	padding: 0 10px;
	color: #7b4211;
}

nav ul li a:hover {
  color: #7b4211;
  text-decoration: none;
}

nav ul li a:visited {
  color: #7b4211;
}

/* Forms */

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors label {
  color: red;
}

#error_explanation {
  width: 80%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin-top: -7px;
  margin-left: -7px;
  margin-right: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* User index page */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
	height: 40px;
}

/* User show page */

img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
