<h2>Administration</h2>

<ul>
  <li><%= link_to "Tastings", tastings_path %></li>
  <li><%= link_to "Beers", beers_path %></li>
  <li><%= link_to "Breweries", breweries_path %></li>
  <li><%= link_to "Members", users_path %></li>
</ul>