<h2><%= @title %></h2>

<p><%= link_to 'New Tasting', new_tasting_path %></p>

<table>
  <tr>
    <th>Date</th>
    <th>Beer</th>
    <th>Taster</th>
    <th>Rating</th>
    <th>Comments</th>
    <th></th>
  </tr>
  <%= render @tastings %>
</table>

<br />

