<header>
  <h1>Fermentation Focus Group</h1>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to 'Brews', '#' %></li>
      <li><%= link_to 'New Tasting', '#' %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    </ul>
  </nav>
</header>